# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]
indent_size = 4

# Web files
[*.{html,css,js,ts,json}]
indent_size = 2

# Project files
[*.{csproj,props,targets}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Visual Studio specific settings to prevent file locking
dotnet_analyzer_diagnostic.severity = none
dotnet_code_quality_unused_parameters = none